
.header{
    display:flex;
    justify-content:space-between;
}
.headerMenu a{
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    color:#565673;
    font-size:10px;
    letter-spacing:1.2px;
}
.headerMenu button {
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    color:#565673;
    font-size:10px;
    letter-spacing:1.2px;
    background-color: #CCCCCC;
    border:none;
    font-family: 'Oswald', sans-serif;
}
.headerMenu button:hover {
    color:#5f9ea0;
}
.menu:hover{
    color:#5f9ea0;
}
#text {
    text-align: center;
    font-size:200%;
    margin:0;
}
.box{
    background-color:#CCCCCC;
    width:90%;
    margin:0 auto;
    border:2px solid #333;
}
img {
    height:32px;
    width:32px;
}
.search {
    display:flex;
    margin:2px;
}
.searchinput {
    border:0;
    width:0;
    background-color: #CCCCCC;
    transition: width 0.1s ease-in;
}
.searchinput.active{
    width:150px;
    border-radius: 10%;
    background-color: #565673;
}
.searchicon{
    cursor:pointer;
}